<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Utilisateurs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>    
</head>
<body>
    <h1>Utilisateurs</h1>
    <ul>
        <ol>
            <% result.forEach(function(piece) { %>
                <li>
                    <strong><%= piece.pseudo %></strong>
                    represent <%= piece.firstname %> <%= piece.lastname %> with email <%= piece.email %>
                </li>
            <% }); %>
        </ol>
    </ul>
</body>
</html>