<%- include("../partials/header.ejs") %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 movie_list">
    <div class="pt-8 pb-2 mb-3 border-bottom">

        <div class="row">
            <h1>Favorite Movies of <%= user.pseudo %></h1>
        </div>

        <div class="row">

            <% movies.forEach(function(movie) { %>
            <div class="card-view">
                <div class="card-header">
                    <img src=<%= movie.Poster %> />
                </div>
                <div class="card-movie-content">
                    <div class="card-movie-content-head">
                        <a href="#">
                            <h3 class="card-movie-title"><%= movie.Title %> ></h3>
                        </a>
                    </div>
                    <div class="card-movie-info">
                        <div class="movie-running-time">
                            <label>Release year</label>
                            <span><%= movie.Year %> </span>
                        </div>
                        <div class="movie-running-time">
                            <label>Running time</label>
                            <span><%= movie.Runtime %></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</main>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>